{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LabGuard</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1" />

        {% block head %} {% endblock %}
    </head>
    <body>
        <header>
            <div class="header-logo-container">
                <a><img src="{% static 'images/LabGuardLogo.png' %}" alt="LabGuard Logo" height="80" width="auto" /></a>
            </div>
            <nav class = "navbar">
                <ul class = "nav-links">
                    <li><a href="{% url 'main_app:about' %}" class="nav-item">About</a></li>
                    <li><a href="{% url 'main_app:overview' %}" class="nav-item">Dashboard</a></li>
                </ul>
            </nav>
        </header>

        <div class="layout-container">
          <nav class="sidebar">
            <a href="{% url 'main_app:overview' %}">📊 Compliance Overview</a>
            <hr>
            <a href="{% url 'sops:dashboard' %}">📜 SOP Governance</a>
            <a href="{% url 'training:dashboard' %}">🎓 Employee Training</a>
            <a href="{% url 'deviations:dashboard' %}">⚠️ Deviations & Exceptions</a>
            <a href="{% url 'capas:dashboard' %}">🔧 CAPA Action Plans</a>
            <a href="{% url 'documents:dashboard' %}">📁 Controlled Documents</a>
          </nav>

        <main>{% block content%} {% endblock %}</main>
        </div>
    </body>
</html>
